
#Forums{

	width:900px;
	float:left;
	height:auto;
	color:black;
	padding-right:5px;
	padding-top:5px;
	
}


#Forums::after{
	margin:15px;
}


#Forums{

	width:900px;
	float:left;
	height:auto;
	color:black;
	padding-right:5px;
	padding-top:5px;
	
}

#Forums::after{
	margin:15px;
}

#ForumZagolovok{
width:890px;
height:25px;
background:url(greennewszforum.jpg);
color:white;
 border-radius: 10px 10px 0 0;
 	box-shadow: 0 0 10px orange;

}

#ForumZagolovok ul li{
		float:left;
	list-style-type:none;
	text-align:center;	

		width:150px;
		
}



#ForumTheme{

height:60px;
color:white;
width:890px;
	background:url(rednewstheme.jpg);
	box-shadow: 0 0 10px white;
	font-size:17px;
}

#ForumTheme ul li{
		float:left;
	list-style-type:none;
	text-align:center;	
					word-break: break-all;

}
.themelarge{	
		width:auto;
				text-align:center;
				line-height:50px;
}

.nothemelarge{	
		width:150px;
		line-height:50px;

}


#ForumTheme:hover{
	background:url(themeblack2.jpg);
}


#ForumTheme ul li::after{
padding-top:5px;
}



#ForumTheme #themename{
width:300px;
line-height:50px;	
}



#ForumZagolovok #forumname{
	width:300px;
}



#ForumTable{
	margin-top:10px;
	margin-left:5px;
margin-bottom:10px;	
}
#navigationForum-block{
 margin-left:auto;
 margin-right:auto;
	width:900px;
	height:60px;
background:none;	
}


#navigationForum{
	height:65px;
	width:900px;
	position:fixed;
	box-shadow: 0 0 10px white;
	font-size:21px;
}

#navigationForum ul li {
	float:left;
	position:relative;
	list-style-type:none;
	background:url(buttonforum.jpg);
	width:180px;
	text-align:center;	
}

#navigationForum ul li a{
color:#000;
padding: 0 10px;
text-decoration:none;
line-height: 65px;
display: block;
height:65px;
font-family: 'Russo One', sans-serif;	
color:white;
}




#navigationForum ul li a:hover{
	background:url(button1forumhover.jpg);
}






