/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	background:white;
	background-attachment:fixed;
	height:auto;
}
#content::before, #content::after {
    content:"";
    display:table;
}

.logo{
	float:right;
	height:200px;
	width:96%;
	
	margin-right:25px;
	background:url(shappka.jpg) center center no-repeat;
	border-radius: 0 0 6px 6px ;
	box-shadow: 0 0 10px black;

}


#content::after {
    clear:both;
}
#content {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.cnt{
box-shadow: 0 0 10px black;
width:750px;
margin-left:auto;
margin-right:auto;
float:left;
height:auto;
margin-left:25px;
border-radius: 6px 6px 6px 6px;
background:#E8E8E8;	
position:relative;
margin-top:15px;
}

.left-menu{
	width:250px;
	background:#E8E8E8;
	height:auto;
	position:relative;
	float:left;
margin-bottom:40px;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 0 10px black;
}

.left-str{
	width:250px;
	float:left;
		margin-left:30px;
		margin-top:15px;
 
}

.site-menu{
	text-align:center;
	font-size:21px;
	background:url(menu.jpg);
		border-radius: 6px 6px 0 0;
}

.left-menu ul li{
	list-style-type:none;
}

.menu{
	text-align:center;
	font-size:19px;
	margin-top:5px;
}

.left-menu ul li{
	border-bottom:3px gray solid;
transition: 1s;
	height:30px;
	vertical-align:center;
	border-radius: 6px 6px 6px 6px;
}

.left-menu ul li:hover{
	 transition: 1s;
	background:gray;
	border-radius: 0 0 6px 6px;
}

#shapka{


	margin-left:auto;
margin-right:auto;
	box-shadow: 0 0 10px green;
width:900px;
height:350px;
margin-top:10px;
margin-bottom:8px;
border-radius: 0 0 16px 16px;
}




.right-panel{
	width:250px;
	float:right;
	padding-right:5px;
	height:auto;
	padding-top:10px;
	margin-right:20px;	
}



a{
	text-decoration:none;
	color:black;
}


 .zagolovok{
	background:url(menu.jpg);
		box-shadow: 0 0 10px black;
			border-radius: 6px 6px 0 0;
			font-size:22px;
			font-family: 'Ruslan Display', bold;	
			color:black;
			text-align:center;

}

 form .vvod {
	background:#E8E8E8;
	color:black;
	padding-bottom:15px;
	vertical-align:center;
	font-size:20px;
	box-shadow: 1px 0 10px black;	
}

input[type="submit"]:hover, input[type="text"]:hover, input[type="password"]:hover {
transition:0.7s;
box-shadow: 0 0 10px black;	
}

input[type="submit"], input[type="text"], input[type="password"] {
transition:0.7s;	
}


 form .vvod input {

	color:black;
	padding-bottom:5px;
	vertical-align:center;
	width:90%;
}


 form .enter{
	background:url(Newimg/greenform.jpg);
	float:center;
	border-radius: 0 0 6px 6px ;
	height:auto;
	box-shadow: 0 0 10px black;
	margin-bottom:30px;
}

 form .enter input{
	float:center;

	height:30px;
	width:150px;
	margin-bottom:5px;
	margin-top:5px;
	font-size:21px;
}




textarea{
	resize:none;
}


#modal-okno{
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
	display:none;
	background-color:white;
	background: rgba(0, 0, 0, 0.5);
}

#form-vhod{

	 width:600px;
	 height:auto;
	 margin:auto;
	 margin-bottom:10%;
	 margin-top:10%;


}

pre{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word; 	
}















